.test{

position:absolute;
left:40px;
top:1px;
}
#canvas_holder {
				
    width: 500px;
    height: 500px;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















